.grid-col-10of10{
	width: 100%;
	/*max-width: 940px;*/
	/*margin:  auto;*/
	position: relative;
	/*vertical-align:middle;*/
	/*padding: 0 2%;*/
	/*float: center;*/
	/*text-align: center;*/

}


.grid-col-6of10{
	width: 60%;
	/*max-width: 940px;*/
	/*margin:  auto;*/
	position: relative;
	/*padding: 0 2%;*/
	/*float: center;*/
	/*text-align: center;*/

}

.grid-col-8of10{
	width: 80%;
	/*max-width: 940px;*/
	/*margin:  auto;*/
	position: relative;
	/*padding: 0 2%;*/
	/*float: center;*/
	/*text-align: center;*/

}


.grid-col-5of10{
	width: 50%;
	position: relative;
}

#canvas{
	position : absolute;
	top : 0px; 
	left : 0px;
}

#about{
  padding-top: 5em;
  margin-left:  20%;
  margin-right: 20%;
  letter-spacing: 0.01em;
}

#projects{
  padding-top: 5em;
  margin-left:  20%;
  margin-right: 20%;
}

#contact{
  padding-top: 5em;
  margin-left:  20%;
  margin-right: 20%;
}

#project1{
	float: left;
}

#project2{
	float: right;
}

.sec01{
  text-align: center;
  font-size: 2.5em;
}

.sec02{
  text-align: center;
  font-size: 2.5em;
  /*margin-left:  40%;*/
  /*margin-right: 20%;*/
}

.sec03{
  text-align: center;
  margin: 0 auto;
  font-size: 2.5em;
}

.sec04{
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  text-decoration:none;
}

.sec04 a:visited{
	color: white;
}

.head_img{
  position: relative; 
}

.project_pull{
  display: block;
  margin: 0 auto;
/*  width: 26px;
  height: 46px;*/

  position: absolute;
  bottom: 120px;
  left: 30%;
  /*margin-left: -26px;*/

}

/*------------project pull-------------*/
#overview {
  padding-top: 5em;
  margin-left:  20%;
  margin-right: 20%;
  letter-spacing: 0.01em;
}

#member{
  padding-top: 5em;
  margin-left:  20%;
  margin-right: 20%;
}

