%header
  .container-fluid.gradiente.inicio.sombra
    .row
      .col-sm-12
        %h1.titulo.text-center HOVER EFFECTS!
        %hr/
        %nav
          %ul.list-unstyled.list-inline.text-center
            %li
              %a.btn.ancora{:href => "#one"} 1
            %li
              %a.btn.ancora{:href => "#two"} 2
            %li
              %a.btn.ancora{:href => "#three"} 3
            %li
              %a.btn.ancora{:href => "#four"} 4
            %li
              %a.btn.ancora{:href => "#five"} 5
            %li
              %a.btn.ancora{:href => "#six"} 6
            %li
              %a.btn.ancora{:href => "#seven"} 7
%section#one
  .container-fluid.cor-2.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center
            %li
              %a{:href => ""}
                .icone-box-facebook.border
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram.border
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter.border
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google.border
                  %i.fa.fa-google{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.border
                  %i.fa.fa-github{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments.border
                  %i.fa.fa-comments{"aria-hidden" => "true"}
%section#two
  .container-fluid.cor-1.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center
            %li
              %a{:href => ""}
                .icone-box-facebook
                  %i.fa.fa-facebook.rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram
                  %i.fa.fa-instagram.rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter
                  %i.fa.fa-twitter.rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google
                  %i.fa.fa-google.rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github
                  %i.fa.fa-github.rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments
                  %i.fa.fa-comments.rodar{"aria-hidden" => "true"}
%section#three
  .container-fluid.cor-3.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center.back
            %li
              %a{:href => ""}
                .icone-box-facebook
                  %i.fa.fa-facebook.flip-cor{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram
                  %i.fa.fa-instagram.flip-cor{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter
                  %i.fa.fa-twitter.flip-cor{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google
                  %i.fa.fa-google.flip-cor{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.flip
                  %i.fa.fa-github.flip-cor{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments
                  %i.fa.fa-comments.flip-cor{"aria-hidden" => "true"}
%section#four
  .container-fluid.cor-4.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center.back-2
            %li
              %a{:href => ""}
                .icone-box-facebook.pulando
                  %i.fa.fa-facebook.efeito.-rodar{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram.pulando
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter.pulando
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google.pulando
                  %i.fa.fa-google{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.pulando
                  %i.fa.fa-github{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments.pulando
                  %i.fa.fa-comments{"aria-hidden" => "true"}
%section#five
  .container-fluid.cor-5.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center.back-3
            %li
              %a{:href => ""}
                .icone-box-facebook.borda-externa
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram.borda-externa
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter.borda-externa
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google.borda-externa
                  %i.fa.fa-google{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.borda-externa
                  %i.fa.fa-github{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments.borda-externa
                  %i.fa.fa-comments{"aria-hidden" => "true"}
%section#six
  .container-fluid.cor-6.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center.back-4
            %li
              %a{:href => ""}
                .icone-box-facebook.sombra-chao
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram.sombra-chao
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter.sombra-chao
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google.sombra-chao
                  %i.fa.fa-google{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.sombra-chao
                  %i.fa.fa-github{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments.sombra-chao
                  %i.fa.fa-comments{"aria-hidden" => "true"}
%section#seven
  .container-fluid.cor-7.altura
    .row
      .col-sm-6.col-sm-offset-3
        .box.borda
          %ul.list-unstyled.list-inline.text-center.back-5
            %li
              %a{:href => ""}
                .icone-box-facebook.cor-horizontal
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-instagram.cor-horizontal
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-twitter.cor-horizontal
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-google.cor-horizontal
                  %i.fa.fa-google{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-github.cor-horizontal
                  %i.fa.fa-github{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                .icone-box-comments.cor-horizontal
                  %i.fa.fa-comments{"aria-hidden" => "true"}
%footer
  .container-fluid.cor-footer.end
    .row
      .col-sm-10.col-sm-offset-1
        .foto
          %a{:href => "https://www.facebook.com/christopher.bicudo", :target => "_blank"}
            %img{:src => "https://scontent.frao1-1.fna.fbcdn.net/v/t1.0-9/534501_166407540165933_169013040_n.jpg?oh=11e8c7631c98fcf85c2add517c91ef41&oe=57E30862"}/
        %h4.text-center.h4-footer Thanks For Viewing!